<br>
<div class="container ">
    <div class="bg-light   border  md-4">
        <h1 class="text-center text-primary ">Welcome To MediCap</h1>
        <h5 class="text-center text-muted"><i>The Online Pharmacy Store</i></h5>
    </div>
    <br>
    <div class="row">
        
        <div class="col-md-6">
            <div class="card-deck">
                <div class="card">
                    <img src="https://cdn.hipwallpaper.com/i/35/73/vXbufN.jpg" alt="Medicine img" />
                    <div class="card-header">
                        <h1 class="card-title text-center">
                            <a [routerLink]="['/medicine']" style="text-decoration: none">Medicine </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-deck">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1576602976047-174e57a47881?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGhhcm1hY3l8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        alt="Medicine img" class="card-img-top" />
                    <div class="card-header">
                        <h1 class="card-title text-center">
                            <a [routerLink]="['/pharmacy']" style="text-decoration: none">Pharmacy</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>