<header>
    <h1>Medicaps</h1>
    <h2>Contact Us</h2>
</header>
<p class="m-5 p-4">
    If you have any suggestions to make your experience better, please share your views with us.
    We'll be thankful. Or if you liked a product on some website and came to our website to get better
    prices but didn't find the product or if you really want a product from our website that is now out of stock,
    feel free to write to us. We'll try our best to get them for you. Also, if you wanted to buy a product but faced an
    issue with the site or you
    bought a product and want to return it, please let us know. We will take it seriously.

</p>
<br>

<p class="m-5 p-3">
    You can write to us at <em>care@medicaps.com</em>
    You can call us at <em>85521-88847(11:00AM-6:00PM IST)</em> for any information.
</p>
<br>


<section>
    <footer>Copyright &copy; 2021 Medicaps</footer>
</section>