<button class="btn btn-success p-2 m-5 d-inline" [routerLink]="['/medicine']" >Go Back</button>
<div class="signup-form">
    <form #frm="ngForm">
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="material-icons-round">
                            &#x214A;
                            </span>
					</span>                    
				</div>
				<input type="number"  class="form-control" name="price"  placeholder="Price" [(ngModel)]="medicines.MedicinePrice">
			</div>
        </div>
        <div class="form-group">
			<label class="form-check-label"><input type="checkbox" required="required" name="isDelivable" [(ngModel)]="medicines.IsDelivable">            IsDelivable</label>
		</div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="EditMed();" >Edit Medicine</button>
        </div>
    </form>
</div>